*{
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
body{
    direction: rtl;
}
:root{
   --primary-color: #4A5CD0;
   --sacondary-color:rgb(95, 184, 243);
}
